:root{
    background-color: #E9E9E9;
    font-family: "Inter Tight", sans-serif;
    color: #222222;
}

body{
    margin: 0;
    padding: 0;
}

.principalInicio{

    padding: 20px;
}

header{
    background-color: #DCDCDC;
    border-bottom: 1px solid #e5e5e5;
}

h1{
    font-size: 50px;
}

.barraHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;

}

.linksNav{
    padding: 10px;
}

.linksNav:hover{
    color: #2222226c;
}

.contenedorBienvenida{

    margin: 70px;
}

.bordesSeparadores{

    border-bottom: 1px solid #e5e5e5;

}

.textoBienvenida{

    font-size: 1rem;
    text-align: left;
    line-height: 30px;
    width: 50%;
}

.menuDesplegable{
    display: none;
    margin: 30px;
    opacity: 0.7;
    padding: 12px 16px;
}

.botonFiltro{
    padding: 10px;

}

.botonFiltro:hover{
    
    border: 1px solid #041B15;
    border-radius: 20px;
    color: #041B15;
    

} 

.barraBusqueda{
    width: 900px;
    height: 25px;
    border-radius: 10px;
    border: 0.5px solid #e5e5e5;
}

.productosPrincipal{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.imgProductosPrincipal{

    width: 400px;
    height: 400px;
    border-radius: 20px;
}

footer{
    display: flex;
    min-height: 22vh;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #222;
    color: #E9E9E9;
}

.logoGuitarraFooter{

    width: 250px;
    margin-top: 30px;

}

.flexRRSS{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgLogosFooter{
    width: 30px;
    display: inline;
}


.contenedorLinksFooter{

    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 50px;
}

.contenedorLogoFooter{

    display: flex;
    flex-direction: column;

}

.linksFooter{
    padding: 3px;
}

.linksFooter:visited{
    color: #E9E9E9;
}

.linkCarrito{

    display: block;
}

.listaFiltro{

    margin: 20px;
    padding: 0;

}

a{
    text-decoration: none;
}

a:visited{
    color: #041B15;
}

/* Estilos Contacto */

.flexContacto{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form input{
    width: 40rem;
    height: 2rem;
    border: 0.8px solid #E9E9E9;
}

/* Estilos Nosotros */

.imgNosotrosTienda{

    height: 500px;
    width: 100%;
    object-fit: cover;

}

.flexNosotrosCubos{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccionCubosNosotros{

    margin: 40px;

}

.cuboNosotrosInfo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 400px;
    background-color: #222;

}

.infoCubos{

    color: #E9E9E9;
    font-style: italic;
    font-size: larger;
    text-align: center;
    font-weight: 300;
}

.imgProductosNosotros{

    width: 400px;
    height: 400px;
    object-fit: cover;
}

.logoNosotros{

    width: 50px;
    margin-top: 30px;

}

.textoNosotros {
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
    margin: 20px;
}
