:root{
    background-color: #F5FBEF;
    font-family: "Instrument Sans", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

main{
    
    display: flex;
    flex-direction: row;
    padding: 20px;
}

header{
    border-bottom: 1px solid #e5e5e5;
}

h1{
    font-size: 50px;
}

.barraHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 170px;

}

.contenedorBienvenida{

    margin: 70px;
}

.bordesSeparadores{

    border-bottom: 1px solid #e5e5e5;

}

.textoBienvenida{

    font-size: 1rem;
    text-align: left;
    line-height: 30px;
    width: 50%;

}


.menuDesplegable{
    display: none;
    margin: 30px;
    opacity: 0.7;
    padding: 12px 16px;
}

.botonFiltro:hover .menuDesplegable{
    display: block;

} 

.barraBusqueda{
    width: 500px;
    height: 25px;
    border-radius: 10px;
    border: 0.5px solid #e5e5e5;
}

.productosPrincipal{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.imgProductosPrincipal{

    width: 400px;
    height: 400px;
}

footer{
    height: 100px;
    width: 100%;
    background-color: #041B15;
    color: #F5FBEF;
}

.linkCarrito{

    display: block;
}

.listaFiltro{

    margin: 20px;
    padding: 0;

}

a{
    text-decoration: none;
}

