:root{
    --bc-principal: #F3F2EC;
    font-family: "Inter Tight", sans-serif;
    color: #222222;
}

/* Header */

header{

    background-color: #015551;
    color: #E9E9E9;
    border-bottom: 1px solid #e5e5e5;
}

header a{
    color: #E9E9E9;
}

header a:visited{
    color: #E9E9E9;

}

h1{
    font-size: 50px;
}

.barraHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 80px;

}

.barraBusqueda{
    width: 900px;
    height: 25px;
    border-radius: 10px;
    border: 0.5px solid #e5e5e5;
}

.lupaBusqueda{

    width: 30px;
    vertical-align: bottom;

}

.carritoHeader{

    width: 30px;
}

.linksNav{
    padding: 10px;
}

.linkCarritoResp{
    display: none;
}

.linksNav:hover{
    color: #0000009d;
}

.botonBusqueda{
    height: 25px;

}

.logoHeader{

    width: 120px;

}

/* Index */

body{
    margin: 0;
    padding: 0;
    background-color: var(--bc-principal);
}

.principalInicio{

    padding: 20px;
}


.contenedorBienvenida{

    margin: 70px;
}

.bordesSeparadores{

    border-bottom: 1px solid #e5e5e5;

}

.textoBienvenida{

    font-size: 1rem;
    text-align: left;
    line-height: 30px;
    width: 70%;
}

.menuDesplegable{
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.opcionesFiltro{
    margin: 10px;
}

.opcionesFiltro:hover{

    transition: .3s ease-in-out;
    color: #2222226c;

}

.contenedorFiltro{
    display: inline
}

.contenedorFiltro:hover .menuDesplegable{
    display: block;
}


.botonGeneral{
    padding: 10px;
    border: 1px solid #2222226c;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #041B15;
}

.botonGeneral:hover{
    
    transition: .3s ease-in-out;
    color: #2222226c;

} 

.listaFiltro{

    margin: 20px;
    padding: 0;

}

a{
    text-decoration: none;
}

a:visited{
    color: #041B15;
}

.productosPrincipal{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 25px;

}

.tarjetaProducto{

    height: 600px;
    text-align: center;
    background-color: var(--background-color-principal);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    background-color: #FFFFFF;

}

.botonesTarjetaProducto{
    margin: 30px;
}


.linkCarrito:hover{

    transition: .3s ease-in-out;
    color: #2222226c;

}

.imgProductosPrincipal{

    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.tarjetaProducto:hover{

    transition: .4s ease-in-out;
    box-shadow: 10px 5px 15px #8b8b8b;

}

/* Producto */

.flexProductoIndividual{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.imgProductoIndividual{
    width: 500px;
    margin: 40px;
}

.flexImgDetalle{
    display: flex;
    justify-content: center;
}

.imgProductoDetalle{
    width: 30%;
    margin: 20px;
}

.elementoLista{
    margin-bottom: 10px;
}

.titulosProductoDetalle{

    margin: 20px;

}

.flexTarjetaCompra{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
}

.estiloTabla{

    width: 50%;
    margin: 20px;
    background-color: #FFFFFF;

}

td, th {
  border: 1.5px solid #e5e5e5;
  padding: 8px;
}

.parrafoDescripcionProducto{
    width: 70%;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    margin: 20px;
}


/* Carrito */

.listaInfoCarrito li{
    
    padding: 3px;

}

.flexCarrito{

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.tarjetaSinProducto{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-principal);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    height: 500px;
    width: 40%;

}

.tarjetaTotal{

    text-align: center;
    background-color: var(--background-color-principal);
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    height: 300px;
    width: 20%;

}

.compraResumenTarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.carritoTarjetaSinProducto{

    width: 50px;
    margin: 20px;

}


/* Contacto */

.flexContacto{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.datosForm{
    width: 40rem;
    height: 2rem;
    border: 0.8px solid #E9E9E9;
}

.inputForm{
    margin-bottom: 20px;
}

.mensajeContacto{

    width: 40rem;
    height: 100px;
    border: 0.8px solid #E9E9E9;

}

.botonEnviar{

    margin: 45px 45px 45px 0;

}

/* Nosotros */

.imgNosotrosTienda{

    height: 500px;
    width: 100%;
    object-fit: cover;

}

.botonNosotros{

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.flexNosotrosCubos{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.seccionCubosNosotros{

    margin: 40px;
}

.cuboNosotrosInfo{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    height: 400px;
    background-color: #222;

}

.infoCubos{

    color: #E9E9E9;
    font-style: italic;
    font-size: larger;
    text-align: center;
    font-weight: 300;
    padding: 10px;
}

.imgProductosNosotros{

    width: 400px;
    height: 400px;
    object-fit: cover;
}

.logoNosotros{

    width: 50px;
    margin-top: 30px;

}

.textoNosotros {
    font-size: 1rem;
    text-align: left;
    line-height: 30px;
    margin: 20px;
}

/* Footer */

footer{
    display: flex;
    min-height: 22vh;
    justify-content: space-between;
    width: 100%;
    background-color: #015551;
    color: #E9E9E9;
}

.textoCopyright{

    font-variant: small-caps;

}

.logoGuitarraFooter{

    width: 250px;
    margin-top: 30px;

}

.flexRRSS{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.imgLogosFooter{
    width: 30px;
    display: inline;
}


.contenedorLinksFooter{

    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 50px;
}

.contenedorLogoFooter{

    display: flex;
    flex-direction: column;

}

.linksFooter{
    padding: 3px;
}

.linksFooter:visited{
    color: #E9E9E9;
}


/* Media Queries Tablets */

@media (max-width: 1024px) {

    body{
        text-align: center;
    }
}
  

/* Header */

@media (max-width: 1024px) {
    .barraHeader{
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .barraBusqueda{
        width: 500px;
    }

    .menuNav{
        display: flex;
        flex-direction: row;
    }

    .linkCarritoResp{
        display: block;
    }

    .carritoHeader{
        display: none;
    }
}

/* Footer */

@media (max-width: 1024px) {

    footer{
        display: flex;
        flex-direction: column;
        min-height: 22vh;
        width: 100%;
    }

    .contenedorLinksFooter{
        margin: 30px;
    }

    .logoGuitarraFooter {
        align-self: center;
        width: 300px;
        margin: 0;
    }

    .flexRRSS{
        margin-top: 20px;
        justify-content: center;
    }

    .imgLogosFooter{
        margin: 10px;
        width: 40px;
    }
}

/* Index */

@media (max-width: 1024px) {
    .principalInicio{
        justify-items: center;
    }

    .productosPrincipal{
        grid-template-columns: 1fr 1fr;
    }

    .textoBienvenida{
        text-align: center;
        width: 100%;
    }

    .contenedorFiltro{
        display: block;
    }

    .menuDesplegable{

        display: block;
        position: relative;
    }

    .menuDesplegable a{
        text-decoration: underline;
        display: inline;
    }


    .filtroPrincipal{
        display: none;
    }

    .tarjetaProducto{
        width: 350px;
        height: 460px;
    }

    .botonesTarjetaProducto a{
        display: block;
        margin: 10px;
    }

    .imgProductosPrincipal{
        width: 250px;
        height: 250px;
    }
}

/* Contacto*/

@media (max-width: 1024px) {

    .flexContacto{
        flex-direction: column;
    }

    .datosForm{
        width: 700px;
    }

    .mensajeContacto{
        width: 700px;
    }

    .botonEnviar{
        margin: 45px;
        width: 100px;
    }

    iframe{
        width: 750px;
        margin-bottom: 30px;
    }
}

@media (max-width: 1024px) {

    .imgNosotrosTienda{
        height: 400px;
        width: 100%;
    }


    .cuboNosotrosInfo{
        width: 300px;
    }

    .imgProductosNosotros{
        width: 300px;
    }

    .infoCubos{
        font-size: medium;
    }

}

@media (max-width: 1024px) {

    .flexCarrito{
        flex-direction: column;
    }

    .listaInfoCarrito{
        padding: 20px;
    }

    .tarjetaSinProducto{
        width: 600px;
        margin-bottom: 30px;
    }

    .tarjetaTotal{
        width: 600px;
    }

}

@media (max-width: 1024px) {

    .flexTarjetaCompra{
        text-align: initial;
    }

    .estiloTabla{
        width: 100%;
        margin: 0;
    }

    .imgProductoDetalle{
        width: 600px;
    }

    ul li{
        margin: 20px;
    }

    .botonDescripcion{
        width: 50px;
    }

   .parrafoDescripcionProducto{
    width: auto;
   }

}


/* Media Queries Smartphone */

@media (max-width: 768px) {

    body{
        text-align: center;
    }

    h2{
        font-size: 20px;
    }
}
  

/* Header */

@media (max-width: 768px) {
    .barraHeader{
        display: flex;
        flex-direction: column;
        height: 300px;
    }

    .barraBusqueda{
        width: 200px;
    }

    .menuNav{
        display: flex;
        flex-direction: column;
    }

    .linksNav{
        padding: 5px;
    }

    .linkCarritoResp{
        display: block;
    }

    .carritoHeader{
        display: none;

    }
}

/* Footer */

@media (max-width: 768px) {

    footer{
    display: flex;
    flex-direction: column;
    min-height: 22vh;
    width: 100%;
 
    }

    .contenedorLinksFooter{
        margin: 30px;
    }

    .logoGuitarraFooter {
        align-self: center;
        width: 200px;
        margin: 0;
    }

    .flexRRSS{
        margin-top: 20px;
        justify-content: center;
    }

    .imgLogosFooter{
        margin: 10px;
    }
}


/* Index*/

@media (max-width: 768px) {
    .principalInicio{
        justify-items: center;
    }

    .productosPrincipal{
        grid-template-columns: 1fr;
    }

    .textoBienvenida{

        text-align: center;
        width: 100%;
    }

    .contenedorFiltro{
        display: block;
    }

    .menuDesplegable{

        display: block;
        position: relative;
        width: 200px;
    }

    .menuDesplegable a{
        text-decoration: underline;
        display: block;
    }



    .filtroPrincipal{
        display: none;
    }

    .tarjetaProducto{
        width: 300px;
        height: 450px;
    }

    .botonesTarjetaProducto a{
        display: block;
        margin: 10px;
    }

    .imgProductosPrincipal{
        width: 250px;
        height: 250px;
    }
}

/* Contacto*/

@media (max-width: 768px) {

    .flexContacto{
        flex-direction: column;

    }

    .datosForm{
        width: 300px;
    }

    .mensajeContacto{
        width: 300px;
    }

    .botonEnviar{
        margin: 45px;
    }

    iframe{
        width: 350px;
        margin-bottom: 30px;
    }
}

/* Carrito*/

@media (max-width: 768px) {

    .flexCarrito{
        flex-direction: column;

    }

    .listaInfoCarrito{
        padding: 20px;
    }

    .tarjetaSinProducto{
        width: 300px;
        margin-bottom: 30px;
    }

    .tarjetaTotal{
        width: 300px;
    }

}

/* Nosotros*/

@media (max-width: 768px) {

    .imgNosotrosTienda{
        height: 200px;
        width: 100%;
    }

    .flexNosotrosCubos{
        flex-direction: column;
        align-items: center;
    }

    .cuboNosotrosInfo{
        width: 350px;
    }

    .imgProductosNosotros{
        width: 350px;
    }

    .infoCubos{
        font-size: medium;
    }

}

/* Producto*/

@media (max-width: 768px) {

    .flexProductoIndividual{
        flex-direction: column;
        margin: 20px;
    }

    .flexTarjetaCompra{
        text-align: center;
        width: 100%;
    }

    .estiloTabla{
        width: 100%;
    }

    .imgProductoIndividual{
        width: 300px;

    }

    #Caracteristicas{
        padding: 10px;
    }

    ul li{
        margin: 20px;
    }

    .botonDescripcion{

        width: 50px;
    }

   .parrafoDescripcionProducto{
    width: auto;
   }

   #cantidadSelect{
    align-self: center;
   }

}

/* ABM */

.flexListaPrdDelete{
    display: flex;
    justify-content: space-around;
}

.tablaEliminar{
    width: 100%;
    table-layout: fixed;
    margin-bottom: 10px;
    padding: 20px;
   }

   .infoqty{
        font-weight: 500;
   }

   #cantidadSelect{
        margin-bottom: 20px;
   }

   .imgCarritoPrd{
    width: 80px;
   }

   .titleAdminPRD{
        padding: 20px;
   }

   .btnAgregarAdmin{
    margin: 20px;
    width: 100px;
   }

#alerta-carrito {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #333;
    color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#alerta-carrito.mostrar {
    opacity: 1;
}

#alerta-principal {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #015551cc;
    color: #fff;
    padding: 2rem 3rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease;
    transform: translate(-50%, -50%);
    max-width: 80%;
    pointer-events: none;

}

#alerta-principal.mostrar {
  opacity: 1;
  pointer-events: auto;

}

.tarjetaProductoIndividual{
    height: 600px;
    border-radius: 15px;
    background-color: #FFFFFF;
    margin: 15px;
}

#cantidadSelect{
    width: 65px;
}

.mensajeCarritoVacio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    color: black;
}
